<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <!-- <app-course></app-course>
  <app-course></app-course>
  <app-course></app-course>
  <app-course></app-course>
  <app-course></app-course> -->
  <!-- <app-courses></app-courses> -->
  <!-- today is:  {{ time }} -->
  <!-- {{ 1+ 1}} -->
  <!-- <app-data-handling></app-data-handling> -->
  <!-- <app-pipe-show></app-pipe-show> -->

  <!-- <router-outlet></router-outlet> -->
  <!-- <app-show-custom-directive></app-show-custom-directive> -->
  <!-- <app-contact-form></app-contact-form> -->
  <!-- <app-sign-up-form></app-sign-up-form> -->
  <!-- <app-to-do-list></app-to-do-list> -->
  <!-- <app-form-builder></app-form-builder> -->
  <app-posts></app-posts>
</div>