<p>To download materials in angular 7 use below command</p>
<p>npm install --save @angular/material@7.3.7 @angular/cdk@7.3.7 @angular/animations@7.2.12</p>

<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>
<div class="pt-3">
    <p>
        <mat-form-field>
            <input matInput [matDatepicker]="dp1" placeholder="Completely disabled" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <input matInput [matDatepicker]="dp2" placeholder="Popup disabled">
            <mat-datepicker-toggle matSuffix [for]="dp2" disabled></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
    </p>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>